.info-bar {
    width: 100%;
    height: 25px;
    background: #1c1b1a;
}
.trending {
    height: 100vh;
    overflow-y: scroll;
}
.decoration {
    text-decoration: underline;
    cursor: pointer;
}

/*.blog-footer {*/
/*    position: fixed;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*}*/

/*.top-trending {*/
/*    display: flex;*/
/*}*/
/*.top-trending a {*/
/*    color: #5488c7;*/
/*    text-decoration: none;*/
/*    background-color: initial;*/
/*}*/

.home {
    padding-bottom:270px; /* this needs to be bigger than footer height*/
}

.pagination {
    justify-content: center;
}

.popover-avt {
    width: 20%;
}

.popover-username {
    width: 50%;
}
.popover-edit {
    width: 20%;
    display: flex;
}
.popover-header {
    display: flex;
    flex-direction: row;
}

.popover-body {
}

.popover-body > .item {
    width: 100%;
    padding: 10px 10px;
    font-weight: 50;
    font-size: 1.1rem;
    color: #606266;
}

.popover-body .item a {
    width: 100%;
    display: block;
}

.popover-body .item:hover{
    background-color: #f6f6f7;
}

.popover {
    width: 500px;
}

.popover-divider {
    flex-grow:1;
    height: 1px;
    margin: 0 10px;
    border-top: 1px solid #d6d6d7;
}