.sticky {
    position: sticky;
    top: 0;
    z-index: 100; /* this is optional and should be different for every project */
}

.sticky-wrapper {
    position: relative;
    height: 3rem; /* We need to change this value */
}

.sticky .sticky-inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.sidebar-wrapper {
    height: 100%;
    padding-bottom: 8px;
}

.sticky-sidebar {
    position: -webkit-sticky;
    position: sticky;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-right: .5rem;
    scrollbar-width: thin;
}
.sticky-tt {
    top: 10px;
    max-height: calc(100vh - 88px);
    overflow-y: auto;
}